.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 30px;
}
.header-projects {
  letter-spacing: 2px;
  /* font-family: 'Roboto Mono', monospace; */
  background: -webkit-linear-gradient(rgb(1, 120, 255), rgb(200, 219, 219));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2.9rem;
  height: 20vh;
  text-transform: uppercase;
}
@media screen and (max-width: 480px) {
  .grid {
    grid-template-columns: 1fr;
  }
  .header-projects {
    height: 13vh;
  }
}
